asgiref
attrs
black
click
colorama
Django
djangorestframework
drf-spectacular
flake8
inflection
jsonschema
jsonschema-specifications
mccabe
mypy_extensions
packaging
pathspec
pillow
platformdirs
pycodestyle
pyflakes
python-dotenv
PyYAML
referencing
rpds-py
sqlparse
tzdata
uritemplate
